---
- name: daemon reload
  ansible.builtin.systemd:
    daemon_reload: true

- name: set systemd service state
  ansible.builtin.systemd:
    name: '{{ podman_quadlet_systemd_service.name }}'
    state: |-
      {%- if podman_quadlet_systemd_service.state | default(podman_quadlet_systemd_state) == 'reloaded' -%}
        {%- if podman_quadlet_systemd_triggers is not defined -%}
        restarted
        {%- else -%}
        {{- "restarted" if True in podman_quadlet_systemd_triggers else "started" -}}
        {%- endif -%}
      {%- else -%}
        {{- podman_quadlet_systemd_service.state | default(podman_quadlet_systemd_services_state) -}}
      {%- endif -%}
    scope: '{{ podman_quadlet_systemd_service.scope | default(podman_quadlet_systemd_scope) }}'
  loop: '{{ podman_quadlet_systemd_services }}'
  loop_control:
    loop_var: podman_quadlet_systemd_service
