---
- name: 'create service directory: {{ scmd_service_name }}'
  ansible.builtin.file:
    name: '{{ scmd_service_dir }}'
    state: directory
    owner: '{{ service_user }}'
    group: '{{ service_group }}'

# - name: 'create volume directories: {{ scmd_service_name }}'
#   ansible.builtin.file:
#     name: '{{ scmd_loop_volume_dir.mount }}'
#     state: directory
#     owner: '{{ scmd_loop_volume.user | default(service_user) }}'
#     group: '{{ scmd_loop_volume.group | default(service_group) }}'
#   loop: '{{ scmd_volume_dirs }}'
#   loop_control:
#     loop_var: scmd_loop_volume_dir

- name: 'create environment variable directory: {{ scmd_service_name }}'
  ansible.builtin.file:
    name: '{{ scmd_full_env_dir }}'
    state: directory
    owner: '{{ service_user }}'
    group: '{{ service_group }}'
  when:
    - scmd_env_files is defined
    - scmd_env_files | length > 0

- name: 'copy environment files: {{ scmd_service_name }}'
  ansible.builtin.template:
    src: '{{ scmd_loop_env_file.path }}'
    dest: "{{ scmd_full_env_dir }}/{% if scmd_loop_env_file.name != 'env' %}{{ scmd_loop_env_file.name }}{% endif %}.env"
  loop: '{{ scmd_env_files }}'
  loop_control:
    loop_var: scmd_loop_env_file
  when:
    - scmd_env_files is defined
    - scmd_env_files | length > 0
