---
- name: login to docker registries
  community.docker.docker_login:
    username: '{{ scmd_loop_registry.registry_user is defined | ternary(scmd_loop_registry.registry_user, scmd_registry_user) }}'
    password: '{{ scmd_loop_registry.registry_password is defined | ternary(scmd_loop_registry.registry_password, scmd_registry_password) }}'
    registry_url: '{{ scmd_loop_registry.registry_url is defined | ternary(scmd_loop_registry.registry_url, scmd_registry_url) }}'
    reauthorize: true
  loop: '{{ scmd_private_registry }}'
  loop_control:
    loop_var: scmd_loop_registry
