---
- name: 'register service dir: {{ scmd_service_name }}'
  ansible.builtin.set_fact:
    scmd_service_dir: '{{ scmd_base_dir }}/{{ scmd_service_name }}'

- name: 'register component directories: {{ scmd_service_name }}'
  ansible.builtin.set_fact:
    scmd_volume_dir: ./{{ scmd_volumes_dir_name }}
    scmd_full_volume_dir: '{{ scmd_service_dir }}/{{ scmd_volumes_dir_name }}'
    scmd_env_dir: ./{{ scmd_env_dir_name }}
    scmd_full_env_dir: '{{ scmd_service_dir }}/{{ scmd_env_dir_name }}'
    scmd_logs_dir: ./{{ scmd_logs_dir_name }}
    scmd_full_logs_dir: '{{ scmd_service_dir }}/{{ scmd_logs_dir_name }}'
    scmd_build_dir: ./{{ scmd_build_dir_name }}
    scmd_full_build_dir: '{{ scmd_service_dir }}/{{ scmd_build_dir_name }}'
