---
- name: 'remove paths configuration: {{ vhost_uri }}'
  ansible.builtin.file:
    path: '{{ nginx_paths_full_dir }}/{{ vhost_path_name }}.conf'
    state: absent
  when:
    - vhost_path_name is defined
    - (vhost_state.path is defined and vhost_state.path == "absent") or (vhost_state.uri is defined and vhost_state.uri == "absent") or (vhost_state.all is defined and vhost_state.all == "absent")
  notify:
    - reload nginx

- name: 'remove upstreams: {{ vhost_uri }}'
  ansible.builtin.file:
    path: '{{ nginx_upstream_full_dir }}/{{ vhost_path_name }}.conf'
    state: absent
  when:
    - vhost_path_name is defined
    - vhost_upstream is defined
    - (vhost_state.path is defined and vhost_state.path == "absent") or (vhost_state.uri is defined and vhost_state.uri == "absent") or (vhost_state.all is defined and vhost_state.all == "absent")
  notify:
    - reload nginx

- name: 'remove proxy cache directory: {{ vhost_uri }}'
  ansible.builtin.file:
    path: '{{ vhost_proxy_cache_path }}/{{ vhost_escaped_uri }}'
    state: absent
  when:
    - vhost_uri is defined
    - vhost_proxy_locations is defined and vhost_proxy_cache_enable
    - (vhost_state.uri is defined and vhost_state.uri == "absent") or (vhost_state.all is defined and vhost_state.all == "absent")

- name: 'remove domain configuration: {{ vhost_uri }}'
  ansible.builtin.file:
    path: '{{ nginx_domains_full_dir }}/{{ vhost_uri }}.conf'
    state: absent
  when:
    - vhost_uri is defined
    - (vhost_state.uri is defined and  vhost_state.uri == "absent") or (vhost_state.all is defined and vhost_state.all == "absent")
  notify:
    - reload nginx
