---
- name: 'create proxy cache directory: {{ vhost_proxy_cache_path }}'
  ansible.builtin.file:
    name: '{{ vhost_proxy_cache_path }}/{{ vhost_escaped_uri }}'
    state: directory
    owner: '{{ service_user }}'
    group: '{{ service_group }}'
  when:
    - vhost_proxy_locations is defined and vhost_proxy_cache_enable

- name: 'copy vhost template: {{ vhost_uri }}'
  ansible.builtin.template:
    src: '{{ vhost_template_file }}'
    dest: '{{ nginx_domains_full_dir }}/{{ vhost_escaped_uri }}.conf'
    owner: '{{ service_user }}'
    group: '{{ service_group }}'
  when:
    - vhost_template_file is defined
  notify:
    - reload nginx

- name: 'copy vhost config: {{ vhost_uri }}'
  ansible.builtin.template:
    src: '{{ vhost_conf_template }}'
    dest: '{{ nginx_domains_full_dir }}/{{ vhost_escaped_uri }}.conf'
    owner: '{{ service_user }}'
    group: '{{ service_group }}'
  when:
    - vhost_template_file is undefined
  notify:
    - reload nginx
