---
- name: set letsencrypt variables
  ansible.builtin.set_fact:
    letsencrypt_env_path_dir: '{{ nginx_env_full_dir }}'

- name: set letsencrypt environment variable file
  ansible.builtin.set_fact:
    letsencrypt_env_path: '{{ letsencrypt_env_path_dir }}/{{ letsencrypt_docker_service_name }}.env'

- name: letsencrypt register domain
  ansible.builtin.set_fact:
    letsencrypt_provision_domains: '{{ (letsencrypt_provision_domains | default([]) + letsencrypt_register_domain) | unique }}'
  when:
    - letsencrypt_register_domain is defined

- name: letsencrypt register subdomain
  ansible.builtin.set_fact:
    letsencrypt_provision_subdomains: '{{ (letsencrypt_provision_subdomains | default([]) + letsencrypt_register_subdomain) | unique }}'
  when:
    - letsencrypt_register_subdomain is defined
