{% if ssl is defined and ssl == true %}
{% set ssl_toggle = ' ssl' %}
{% else %}
{% set ssl_toggle = '' %}
{% endif %}
{% if vhost_real_ip_from is defined and vhost_real_ip_from | length > 0 %}
{% set proxy_protocol_toggle = ' proxy_protocol' %}
{% else %}
{% set proxy_protocol_toggle = '' %}
{% endif %}
listen {{ listen_port }}{{ ssl_toggle }}{{ proxy_protocol_toggle }}{% if vhost_default_server is defined and vhost_default_server %} default_server{% endif %};
listen [::]:{{ listen_port }}{{ ssl_toggle }}{{ proxy_protocol_toggle }}{% if vhost_default_server is defined and vhost_default_server %} default_server{% endif %};

