#jinja2:trim_blocks: True,lstrip_blocks: True
# ansible generated config file for nginx vhost "{{ vhost_path_name }}" for domain "{{ vhost_uri }}"

{% if vhost_proxy_locations is defined and vhost_proxy_cache_enable %}
proxy_cache_path  {{ vhost_proxy_cache_path }} levels=1:2 keys_zone={{ vhost_uri }}:{{ vhost_proxy_keys_zone_size }} max_size={{ vhost_proxy_cache_max_size }} inactive={{ vhost_proxy_cache_inactive_timeout }};

{% endif %}
{% include './error-pages.j2' %}
{% include './location.j2' %}