{% if openresty_oauth_cors_url is defined %}

add_header 'Access-Control-Allow-Origin' '{{ openresty_oauth_cors_url }}';
add_header 'Access-Control-Allow-Headers' '*';
add_header 'Access-Control-Allow-Methods' '*';
add_header 'Access-Control-Allow-Credentials' 'true';
{% endif %}
