#jinja2:trim_blocks: True,lstrip_blocks: True
# ansible generated config file for nginx vhost "{{ vhost_path_name }}" for domain "{{ vhost_uri }}"

{% if vhost_directives is defined %}
{% for h in vhost_directives %}
{{ h }}
{% endfor %}

{% endif %}
{% include './error-pages.j2' %}
{% include './location.j2' %}
