#jinja2:trim_blocks: True,lstrip_blocks: True
# ansible generated config file for nginx vhost "{{ vhost_path_name }}" for domain "{{ vhost_uri }}"

{% include './error-pages.j2' %}
{% include './location.j2' %}
