{% if l.url is defined or l.upstream is defined or l.port is defined %}
proxy_http_version 1.1;
proxy_set_header Host               $http_host;
proxy_set_header Referer            $http_referer;
proxy_set_header Cookie             $http_cookie;
proxy_set_header X-Forwarded-Host   $http_host;
proxy_set_header X-Forwarded-Port   $server_port;
proxy_set_header X-Real-IP          $remote_addr;
proxy_set_header X-Forwarded-Server $http_host;
proxy_set_header X-Server-IP        $server_addr;
proxy_set_header X-Server-Port      $server_port;
proxy_set_header X-Real-Port        $remote_port;
proxy_set_header X-Real-HTTPS       $https;
proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
proxy_set_header X-Forwarded-Proto  $scheme;
{% endif %}
{% if l.connection_upgrade is defined and l.connection_upgrade == true %}
proxy_set_header Upgrade $http_upgrade;
{% endif %}
proxy_set_header Connection {% if l.connection_upgrade is defined and l.connection_upgrade == true %}$connection_upgrade{% else %}""{% endif %};
proxy_pass_request_headers on;

{% if l.spa is defined and l.spa %}
proxy_intercept_errors on;
error_page 404 = {% if l.location != '/' %}{{ l.location }}{% endif %}/{{ l.index_page | default('index.html') }};

{% endif %}
{% if l.spa is defined and l.spa %}
proxy_intercept_errors on;
error_page 404 = /{{ l.index_page | default('index.html') }};

{% endif %}
{% if l.options is defined %}
{% for h in l.options %}
{{ h.name }} {{ h.value }};
{% endfor %}

{% endif %}
{% if l.headers is defined %}
{% for h in l.headers %}
{% if h.in_response is defined and h.in_response == true %}add_header{% else %}proxy_set_header{% endif %} {{ h.name }} {{ h.value }};
{% endfor %}

{% endif %}
{% if l.directives is defined %}

{% for h in l.directives %}
{{ h }}
{% endfor %}

{% endif %}
