---
- name: 'loading common environment: {{ common_load_environment }} from {{ load_environment_root }}'
  ansible.builtin.include_vars:
    file: '{{ load_environment_cle_files }}'
  loop: >-
    {{
      lookup('ansible.builtin.fileglob',
        load_environment_root ~ '/' ~ common_load_environment ~ '/*.yml',
        load_environment_root ~ '/' ~ common_load_environment ~ '/*.json',
        load_environment_root ~ '/' ~ common_load_environment ~ '/*.yaml',
        wantlist=True)
    }}

  loop_control:
    loop_var: load_environment_cle_files
  when:
    - common_load_environment is defined

- name: 'loading environment: {{ load_environment }} from {{ load_environment_root }}'
  ansible.builtin.include_vars:
    file: '{{ load_environment_le_files }}'
  loop: >-
    {{
      lookup('ansible.builtin.fileglob',
        load_environment_root ~ '/' ~ load_environment ~ '/*.yml',
        load_environment_root ~ '/' ~ load_environment ~ '/*.json',
        load_environment_root ~ '/' ~ load_environment ~ '/*.yaml',
        wantlist=True)
    }}

  loop_control:
    loop_var: load_environment_le_files
  register: loaded_environment

- name: fail on no variables and strict mode
  ansible.builtin.fail:
    msg: 'In strict mode, variables files should be matched in the given directory: {{ load_environment_root }}/{{ load_environment }}'
  when:
    - load_environment_strict
    - loaded_environment | length == 0
