---
- name: 'read revoked public keys: {{ revoked_keys | default([]) | join(", ") }}'
  ansible.builtin.set_fact:
    authorized_keys_revoked_keys: "{{ lookup('file', item) + '\n' }}"
  loop: "{{ lookup('ansible.builtin.fileglob', authorized_keys_root ~ '/(' ~ (revoked_keys | join('|')) ~ ').pub', wantlist=True) }}"
