#jinja2:trim_blocks: True,lstrip_blocks: True
{#
Be careful with whitespace here. The options above (mostly) disable jinja tampering with whitespace, so all whitespace
will be preserved as-is in the final output. Jinja code blocks will not produce any whitespace of their own.
#}
---
# Ansible generate heartbeat monitor file for "{{ elk_client_name }}" service.

{% if elk_client_heartbeat.monitor is defined and elk_client_heartbeat.monitor | length > 0 %}
{{ elk_client_heartbeat.monitor | to_nice_yaml(indent=2) | trim }}
{% endif %}
