---
- name: include scmd role
  ansible.builtin.include_role:
    name: cenk1cenk2.service.scmd_docker
    public: true
  vars:
    scmd_variables_only: true
    scmd_service_name: any

- name: include nginx role
  ansible.builtin.include_role:
    name: cenk1cenk2.service.nginx_vhosts
    public: true
  vars:
    vhost_variables_only: true

- name: set ssl certificates available
  ansible.builtin.set_fact:
    ssl_certificates: '{{ ssl_certificates | default([]) + [{"path": ssl_certificates_loop_filesystem_certs.path, "root": ssl_certificates_loop_filesystem_certs.root + "/" + ssl_certificates_loop_filesystem_certs.path}] }}'
  when:
    - ssl_certificates_loop_filesystem_certs.state == 'file'
    - ssl_certificates_loop_filesystem_certs.path is match("(" + ssl_certificate_domains | join("|") + ")/(fullchain|privkey).pem.secrets.j2") or ssl_certificates_loop_filesystem_certs.path is match("(" + ssl_certificate_domains | join("|") + ")/(ssl_certificates_loop_filesystem_certs).pfx.secrets.j2")
  loop: '{{ lookup("filetree", ssl_certificates_root, wantlist=True) }}'
  loop_control:
    loop_var: ssl_certificates_loop_filesystem_certs

- name: ensure certificate directories
  ansible.builtin.file:
    path: '{{ letsencrypt_cert_dir }}/live/{{ ssl_certificates_loop_certificate_directory.path | dirname }}'
    state: directory
  loop: '{{ ssl_certificates }}'
  loop_control:
    loop_var: ssl_certificates_loop_certificate_directory
  when:
    - ssl_certificates is defined

- name: copy ssl certificates
  ansible.builtin.template:
    src: '{{ ssl_certificates_loop_certificate_file.root }}'
    dest: "{{ letsencrypt_cert_dir }}/live/{{ ssl_certificates_loop_certificate_file.path | regex_replace('.secrets.j2$', '') }}"
  loop: '{{ ssl_certificates }}'
  loop_control:
    loop_var: ssl_certificates_loop_certificate_file
  when:
    - ssl_certificates is defined
